<div id="container">
  <h1>
    <ul>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Replays', '#' %>
      <%= link_to 'Help', '#' %>
      <%= link_to 'About', '#' %>
      <%# if signed_in? %>
        <%#= link_to 'Members', '#' %>
        <%#= link_to 'Profile', '#' %>
        <%#= link_to 'Settings', '#' %>
      <%# end %>
    </ul>
  </h1>
</div>